
body{
    margin:0px;
    font-family: poppins;
}
a{
    text-decoration: none;
}

a#button,#logbutton {
    width: 125px;
    color: white;
    background-color: #fa6108;
    padding: 10px 24px;
    border-radius: 4px;
}
a#button i,#logbutton i {
    margin:0px 5px;
}
a#button:hover,#logbutton:hover {
    transition: 1s;
    background-color: white;
    color: black;
    border: 1px solid #f76f00;
}
a#button:hover i {
    position: relative;
    left: 10px;
}
a#logbutton:hover i{
    position: relative;
    right: 10px;
}

header.site-header {
    background-color: #74c6fd;
}
.header-container {
    padding: 30px 10px;
    width: 1220px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.site-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav.site-nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin-right: 20px;
}


section.top-banner {
    background-color: #2598a0;
}
.banner-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.right-banner img {
    width: 100%;
}
.left-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-banner h1{
    width: 450px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;

}
.container {
    padding: 80px 10px;
    width: 1200px;
    margin: auto;
}

.articles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}
.article {
    box-shadow: #000000 0px 0px 20px;
    padding: 16px;
    border-radius: 10px;

}
article.article img {
    width: 100%;
    border-radius: 10px;
}
.article-head h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 6px 0px;
}
p.article-details {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.highlights {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px 50px;
}
.left-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-highlight h2 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
}
.left-highlight p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 40px;
}
.right-highlight img {
    width: 100%;
    box-shadow: #000000 0px 0px 20px;
    border-radius: 10px;
}

footer.site-footer {
    padding-top: 80px;
    padding-bottom: 40px;
}
.footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ft-image img {
    width: 490px;
    height: auto;
}
.ft-icons i {
    color: #fd0a0a;
    background-color: #d3d3d6;
    padding: 10px;
    font-size: 22px;
    margin: 5px 10px;
    border-radius: 100%;
    
}
.ft-copyright {
    font-size: 18px;
}

.contact-head h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}
form.contact-form {
    padding: 1% 15%;
}
form.contact-form input, textarea ,#form-submit{
    display: block;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 4px solid #000000;
    border-radius: 10px;
    box-shadow: #022d5c2e 0px 0px 20px;
}
.input-grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 200px;
}
form.contact-form input::placeholder, textarea::placeholder,#form-submit,#s-email::placeholder{
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 500;
}
button#form-submit:hover,button#s-submit:hover {
    background-color: #46c0f8;
    color: white;
    transition: 0.2s;
}
button#form-submit {
    width: 103.5%;
    margin-top: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}
/* ----media queries---- */
 /* --tablet-- */
 @media only screen and (min-width:689px) and (max-width:1025px){
    .container{
        width:90%;
        margin:auto;
        padding:5% 5%;
    }
    .right-banner{
        text-align:right;
    }
    .left-banner h1{
        font-size:40px;
    }
    .articles{
        grid-template-columns:repeat(2,1fr);
    }
    p.article-details{
        font-size:20px;
    }
    .left-highlight h2{
        font-size:30px;
        margin-bottom:0px;

    }
    .left-highlight p{
        margin:15px 0px;
        font-size:20px;
    }
    .right-highlight img{
        height:100%;
    }
    .contact-head h2{
        margin:2%;
        font-size:40px
    }
    a#button, #log-button{
        font-size:14px;
        width:110px;
    }
}